// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$font-family-base: "Open Sans";
$font-family-ios-base: "Open Sans";
$font-family-md-base: "Open Sans";

$toolbar-background: #009999;
$toolbar-md-height: 100px;
$toolbar-ios-height: 100px;
$toolbar-text-color: #fff;

$background-color: #D8D8D8;
$card-md-background-color: #fff;
$card-md-header-color: #008267;
$card-md-header-margin-bottom: 2px;
$card-ios-background-color: #fff;
$card-ios-header-color: #008267;
$card-ios-header-margin-bottom: 2px;

$segment-button-ios-height: 3.2rem;
$segment-button-md-line-height:	6rem;

$badge-font-size: 18px;


$checkbox-md-icon-border-width: 0px;
$checkbox-md-icon-background-color-on: #D8D8D8; //mesma cor de fundo para fazer o efeito
$checkbox-md-icon-size: 12px;
$checkbox-md-icon-checkmark-color:#697882;
$checkbox-ios-icon-border-width: 0px;
$checkbox-ios-icon-background-color-on: #D8D8D8; //mesma cor de fundo para fazer o efeito
$checkbox-ios-icon-size: 12px;
$checkbox-ios-icon-checkmark-color:#697882;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  bostonblue: #428bca,
  gothic: #7892a1
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "../assets/fonts/opensans/opensans";
