// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.logo-default {
    width: 123px;
    height: 40px;
    background-image: url(../assets/img/logo-light.png);
    background-repeat: no-repeat;
    background-position: center center;
}


.buttons-header {
    float: right;
    margin: 10px;
    font-size: 36px;
    color: #fff;
}

.buttons-footer {
    font-size: 24px;
    margin: 10px;
    color: #fff;
}

.buttons-text {
    font-size: 20px !important;
    text-align: center;
    text-transform: none;
}

.font-title{
    
}

.card-item-edges {
    border:1px solid #CCCCCC;
    padding: 20px;
    height:100px;
    background-color: #FFF !important;
}

.card-item-produto-edges {
    border:1px solid #CCCCCC;
    padding: 5px;
    height:100px;
    background-color: #FFF !important;
    margin-bottom: 10px;
}

.card-campanha-content {
    height: 400px;
    background-size: 100% 100%;
    background-image: url(../assets/img/promocao.png);
    background-repeat: none;
    margin: auto;
}

.card-produto-detail-content{
    height: 600px;
    margin: auto;
}

.card-cadastro-cliente-content {
    height: 450px;
    margin: auto;
}

.barra-divisoria{
    border-bottom:1px solid #CCCCCC;
    margin-top: 0px;
    margin-right: 2px;
    margin-bottom: 10px;
    margin-left: 2px;
}

.button-detail{
    background-color: #FFF;
    border-radius: 40px;
    border: 2px solid  #CCCCCC;
    width: 80px;
    height: 20px;
    color: black;
}

.label-column-list{
    font-size: 12px !important;
    text-align: left;
    text-transform: none;
    color: #999999;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width:95% !important;
}

.item-column-list-produtos{
    font-size: 18px !important;
    font-style: bold;
    text-align: left;
    color: #333333;
}

.produto-column-list-produtos{
    font-size: 16px !important;
    font-style: bold;
    font-weight: 700;
    text-align: left;
    color: black;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 95% !important;
}

.nome-produto-card-detail{
    @extend .produto-column-list-produtos;
    text-overflow: none !important;
    white-space: normal !important;
}

.item-column-list-clientes{
    font-size: 15px !important;
    font-style: bold;
    text-align: left;
    color: #333333;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width:95% !important;
}

.col-80px {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px; 
}

.col-22px {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 22px;
    -ms-flex: 0 0 22px;
    flex: 0 0 22px;
    max-width: 22px; 
}

.pedido-subtotal {
    border:1px solid #CCCCCC;
    padding: 5px;
    height:80px;
    background-color: #FFF !important;
    margin-bottom: 10px;
}

.pedido-total {
    padding: 5px;
    height:80px;
    background-color: #E5EAEA !important;
    margin-bottom: 10px;
}

.botao-primario{
    text-transform: none !important;
    color: #fff;
    font-size: 1.4rem !important;
    border-radius: 4px;
    height: 34px;
    min-width: 80px;
    width: 150px;
    padding: 5, 10, 5, 10;
}

.botao-secundario{
    text-transform: none !important;
    color: #fff;
    font-size: 1.4rem !important;
    border-radius: 4px;
    height: 34px;
    min-width: 80px;
    width: 150px;
    padding: 5, 10, 5, 10;
}

.input {
    display: block;
    height: 34px;
    width: 300px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    line-height: 1.5;
    border-radius: 4px;
}

.text-area {
    display: block;
    width: 610px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.input-error{
    border: 1px solid #c13018;
}

.input-focus{
    border: 1px solid #428bca;
}

.msg-error{
    color: #c13018;
}

.form-label{
    font-size: 14px !important;
    text-align: left;
    text-transform: none;
    color: #333333;
    line-height: 1.5;
}

.produto-selecionado {
    background-color: #E5EAEA !important;
}

.select-condicao {
    max-width: 100%; 
    padding-left: 0px;
}

.pedido-total-valor {
    font-weight: 700 !important;
    font-family: "Open Sans";
    text-align: left;
    color: black;
}
