<ion-buttons end>
  <button (click)="irParaProdutos()" mergin ion-button>
        <span class="fa fa-fw fa-search buttons-header"></span>
      </button>
  <button (click)="irParaCarrinho()" ion-button>
        <span class="buttons-text">
          Itens do pedido
        </span>
        <div style="display: inline-block;">
          <span class="fa fa-fw fa-shopping-basket buttons-header"></span>
          <ion-badge color="danger" style="position: absolute; right: 10px; top: 2px;" item-end>{{getQuantidadeProdutos()}}</ion-badge>
        </div>
      </button>
</ion-buttons>